# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "box" for table "boxes"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/images/
/images/*

# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/images/shanghai_1.jpg
